.primary-nav {

    &--pull-right{
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        padding: 1.2rem 2rem 0 0;
        display: inline-block;

        @mixin atMedium {
            float: left;
            display: block;
        }
    }

    a {
        font-size: 1.4rem;
        color: white;
        font-weight: 300;
    }
}