.wrapper {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    max-width: 123.6rem;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 97.6rem;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1.6rem;

        @mixin atMedium {
            margin-bottom: 6.5rem;
        }
    }
}